<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        async function postData(url = '', data = {}) {
            const response = await fetch(url, {
                method: 'POST',
                mode: 'cors',
                cache: 'no-cache',
                credentials: 'same-origin',
                headers: {
                    'Content-Type': 'application/json'
                },
                redirect: 'follow',
                referrerPolicy: 'no-referrer',
                body: JSON.stringify(data)
            });
            return response.json();
        }
        postData('http://localhost:3000/employer/getUserInfo', {
            email: "amanrajput@gmail.com"
        }).then(data => {
            document.getElementById("name").innerHTML = data.name;
            document.getElementById("email").innerHTML = data.email;
            document.getElementById("crt_cmpny").innerHTML = data.crt_cmpny;
            console.log(data.image);
            var img = document.createElement("IMG");
            img.setAttribute("src", "file:///home/aman/Desktop/PNSS/" + data.image);
            img.setAttribute("width", "180");
            img.setAttribute("height", "150");
            img.setAttribute("alt", "image");
            document.getElementById("image").appendChild(img);
        }).catch(function (error) {
            console.warn("something went wrong");
        });

        function showFriendRequests() {
            var lst = document.getElementById("friendRequest");
            postData('http://localhost:3000/findfriend', {}).then(data => {
                data.forEach(p => {
                    lst.innerHTML += p.name + "<button id=addfri>Add Friend</button>" +
                        "<button id=addfri>Add Friend</button>"

                    document.getElementById("addfri").addEventListener('click', function () {
                        addFriend(p._id)
                    });
                });
            }).catch(function (error) {
                console.warn("something went wrong");
            });
        }

        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("post").innerHTML = this.responseText;
            }
        };
        xhttp.open("GET", "/posts", true);
        xhttp.send();
    </script>
</head>

<body>
    <h1>welcome to dashbord</h1>
    <div>
        <p id="image"></p>
        <p id="name"></p>
        <p id="email"></p>
        <p id="crt_cmpny"></p>
        <a href="/home/aman/Desktop/PNSS/views/updateEmployer.html">update Profile</a>
    </div>
    <div>
        <p id="post"></p>
    </div>
    <div>
        <input type="text" id="SearchUser" required> <br>
        <input type="button" name="Search" id="searchBtn" value="Search" onclick="">
    </div>
    <div>
        <br><br><input type="submit" name="friendRequest" id="friendRequestBtn" value="friend Requests"
            onclick="showFriendRequests()">
        <p id="friendRequest"></p>
    </div>
</body>

</html>