<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        async function postData(url = '', data = {}) {
            var token = window.localStorage.getItem('token');
            const response = await fetch(url, {
                method: 'POST',
                mode: 'cors',
                cache: 'no-cache',
                credentials: 'same-origin',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + token
                },
                redirect: 'follow',
                referrerPolicy: 'no-referrer',
                
                body: JSON.stringify(data)
            });
            console.log(data)
            return response.json();
        }


        async function getData(url = '') {
            var token = window.localStorage.getItem('token');
            const response = await fetch(url, {
                method: 'GET',
                mode: 'cors',
                cache: 'no-cache',
                credentials: 'same-origin',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + token
                },
                redirect: 'follow',
                referrerPolicy: 'no-referrer',
            });
            return response.json();
        }


        function showFriends() {
            var qry = document.getElementById("searchtxt").value;
            var lst = document.getElementById("suggestion");
            postData('http://localhost:3000/findfriend', {
                name: qry
            }).then(data => {
                data.forEach(p => {
                    lst.innerHTML += p.name + "<button id=addfri>Add Friend</button>"

                    let addf = document.getElementById("addfri").addEventListener('click', function () {
                        addFriend(p._id)
                    })
                });
            }).catch(function (error) {
                console.log(error);
            });
        }
       function showPendingFriends(){
        var lst = document.getElementById("suggestion");
        getData('http://localhost:3000/pendingrequest').then((data) => {
                data.forEach(p => {
                    lst.innerHTML+= p.name + "<button id=accfri>accept request</button>"+ "<button id=rejfri>reject request</button>"

                    let accf = document.getElementById("accfri").addEventListener('click', function () {
                               acceptRequest(p._id);
                    })
                    let rejf= document.getElementById("rejfri").addEventListener('click', function () {
                        rejectRequest(p._id)
                    })
                });
            }).catch(function (error) {
                alert(error);
            });
       }

       function showAcceptedFriends(){
        var lst = document.getElementById("suggestion");
        getData('http://localhost:3000/acceptedrequest').then((data) => {
            console.log(data);
            lst.innerHTML+=data;
               /*  data.forEach(p => {
                    lst.innerHTML+= p.name
                }); */
            }).catch(function (error) {
                alert(error);
            });
       }

       function acceptRequest(id){
        postData('http://localhost:3000/acceptrequest', {
                id: id
            }).then(data => {
                alert(data.msg);
            }).catch(function (error) {
                alert(error);
            });
       }

       function rejectRequest(id){
            postData('http://localhost:3000/rejectrequest', {
                id: id
            }).then(data => {
                alert(data.msg);
            }).catch(function (error) {
                alert(error);
            });
       }

       function addFriend(id) {
            console.log(id)
            postData('http://localhost:3000/addfriend', {
                "id": id
            }).then(data => {
                alert(data.msg);
            }).catch(function (error) {
                alert(error);
            });
        }

        postData('http://localhost:3000/employer/getUserInfo')
            .then(data => {
                document.getElementById("name").innerHTML = data.name;
                document.getElementById("email").innerHTML = data.email;
                document.getElementById("crt_cmpny").innerHTML = data.crt_cmpny;
                console.log(data.image);
                var img = document.createElement("IMG");
                img.setAttribute("src", "file:///home/aman/Desktop/PNSS/" + data.image);
                img.setAttribute("width", "180");
                img.setAttribute("height", "150");
                img.setAttribute("alt", "image");
                document.getElementById("image").appendChild(img);
            }).catch(function (error) {
                console.warn("something went wrong");
            });

            getData('http://localhost:3000/employer/Showposts')
            .then(data => {
                console.log(data);
            data.forEach(item => {
                document.getElementById("showPosts").innerHTML += item;
            })
        })

        function savePosts(){
            let postContent = document.getElementById("postContent").value;
            postData('http://localhost:3000/user/addpost', {"post" : postContent})
            .then(data => {
                alert(data.msg);
            }).catch(function (error) {
                alert(error);
            });
        }
        
        function logout(){
            localStorage.clear();
            window.location.replace('http://127.0.0.1:5500/views/login.html');
        }

    </script>
</head>

<body>

    <div align="center">
        <table>
            <th>
                <tr>
                    <h1>welcome to dashbord</h1>
                </tr>
            </th>

            <th>
                <tr>
                    <p id="image"></p>
                </tr>
                <tr>
                    <p id="name"></p>
                </tr>
                <tr>
                    <p id="email"></p>
                </tr>
            </th>
        </table>

        <div align="center">
            <table>
                <th>
                    <tr> <input type="txt" name="search" id="searchtxt" placeholder="search friends"><br></tr>
                    <tr><button id="searchbtn" onclick="showFriends()">Search</button></tr>
                    <tr><button id="pendingbtn" onclick="showPendingFriends()">friend request</button></tr>
                    <tr><button id="friendsbtn" onclick="showAcceptedFriends()">friend list</button></tr>

                </th>
            </table>

        </div>

        <div id="suggestion" align="center">

        </div>
    </div>
    <div>
        post:
        <textarea id="postContent" name="postContent" rows="4" cols="50"></textarea>
        <input type="button" name="postBtn" id="postBtn" value="Post" onclick="">
    </div>
    <div>
        <input type="button" name="logoutBtn" id="logoutBtn" value="Logout" onclick="logout()">
    </div>
    <div>
        post show
        <p id="showPosts"></p>
    </div>
</body>
</html>