<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div align = "center">
        <h1>Employer Registration</h1>
        <form action="http://localhost:3000/employer/registration" method="POST" enctype="multipart/form-data">
            Email : <input type="text" id="email" name="email" placeholder="email" required><br><br>
            Password : <input type="password" id="password" name="password" placeholder="password" required><br><br>
            Name : <input type="text" id="name" name="name" placeholder="name" required><br><br>
            Company Name : <input type="text" id="crt_cmpny" name="crt_cmpny" placeholder="crt_cmpny"
                required><br><br>
            Phone Number : <input type="text" id="phone_no" name="phone_no" placeholder="phone_no"
                required><br><br>
            Address : <input type="text" id="address" name="address" placeholder="address" required><br><br>
            Designation : <input type="text" id="Designation" name="Designation" placeholder="Designation"
                required><br><br>
            Image : <input type="file" name='image' id="image">
            <input type="submit" id="button" value="submit"><br>
        </form>
    </div>
</body>

</html>