<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>LOG IN</h1>
    <form id="log_in_form" action="http://localhost:3000/login" method="POST">
        Email : <input type="text" name="email" placeholder="Enter Email"><br><br>
        Password : <input type="password" name="password" placeholder="Enter Password"><br><br>
        Role : <select name="role" id="role">
            <option value="Employee">Employee</option>
            <option value="Employer">Employer</option>
          </select><br><br>
        <input type="submit" id="loginbtn" value="LOG IN"><br>
        <a href="">employee Signup</a><br>
        <a href="">employer Signup</a><br>
      </form>
</body>
</html>