<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div align="center">
        <form id="sign_up_form" action="http://localhost:3000/" method="POST">
            <table>
                <td>
                <tr>Whats on your Mind : <br><input type="text" name=email id="emailtxt" placeholder="Email"><br></tr>
                <td>
                <input type="submit" id="loginbutton" value="submit"><br>
            </table>
        </form>
    </div>
        </body>

</html>