<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Registration</h1>
    <form id="sign_up_form" action="http://localhost:3000/signup" method="POST">

        <input type="text" name=email id="emailtxt" placeholder="Email"><br>


        <input type="password" name=password id="passwordtxt" placeholder="Password"><br>


        <input type="text" name=Name id="nametxt" placeholder="Name"><br>


        <input type="txt" name="age" id="agetxt" placeholder="Age"><br>


        <input type="txt" name="sc" id="sctxt" placeholder="secondary school"><br>


        <input type="txt" name="ssc" id="ssctxt" placeholder="senior secondary school"><br>


        <input type="txt" name="graduation" id="graduationtxt" placeholder="Graduation"><br>


        <input type="txt" name="masters" id="mastertxt" placeholder="Masters"><br>


        <input type="txt" name="phone_no" id="phonetxt" placeholder="Phone no."><br>


        <input type="txt" name="address" id="addresstxt" placeholder="Address"><br>


        <input type="txt" name="lst_cmpny" id="lsttxt" placeholder="Last Company"><br>


        <input type="txt" name="crt_cmpny" id="cctxt" placeholder="current company"><br>

        <br>
        <br>

        <input type="submit" id="signupbtn" value="Sign up">
    </form>
</body>

</html>