<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="http://localhost:3000/update" method="POST">
        <div align="center">
            <h2>UPDATE EMPLOYEE</h2>
            <table>
                <th>
                    <tr>email : <input type="text" name=email id="email" placeholder="Name"><br></tr><br>
                    <tr>password : <input type="password" name="password" id="password" placeholder="password"><br></tr><br>
                    <tr> Name : <input type="name" name="name" id="name" placeholder="name"><br></tr><br>
                    <tr>Company Name : <input type="Company_Name" name="Company_Name" id="Company_Name" placeholder="Company_Name"><br>
    <br>                </tr>
                    <tr> Phone Number : <input type="Phone_Number" name="Phone_Number" id="Phone_Number" placeholder="Phone_Number"><br></tr><br>
                    <tr>Address : <input type="Address" name="Address" id="Address" placeholder="Address"><br></tr><br>
                    <tr> Designation : <input type="Designation" name="Designation" id="Designation" placeholder="Designation"><br>
    <br>                </tr>
                    <tr> Profile Picture : <input type="file" name="image" id="image" placeholder="image"><br></tr><br>
                    <br>
    <br>                <tr> <input type="submit" id="signupbtn" value="Sign up"></tr>
                </th>
            </table>
        </div>
    </form>
</body>

</html>